@import './base';

@font-face {
  font-family: 'cleerio-icons';
  src:  url('../fonts/cleerio-icons.eot?d1nbef');
  src:  url('../fonts/cleerio-icons.eot?d1nbef#iefix') format('embedded-opentype'),
    url('../fonts/cleerio-icons.ttf?d1nbef') format('truetype'),
    url('../fonts/cleerio-icons.woff?d1nbef') format('woff'),
    url('../fonts/cleerio-icons.svg?d1nbef#cleerio-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.ci-add-feature:before {
  content: "\e900";
}
.ci-angle-double-left:before {
  content: "\e901";
}
.ci-angle-double-right:before {
  content: "\e902";
}
.ci-angle-left:before {
  content: "\e903";
}
.ci-angle-right:before {
  content: "\e904";
}
.ci-arrow-up:before {
  content: "\e905";
}
.ci-caret-down:before {
  content: "\e906";
}
.ci-caret-left:before {
  content: "\e907";
}
.ci-caret-right:before {
  content: "\e908";
}
.ci-caret-up:before {
  content: "\e909";
}
.ci-close:before {
  content: "\e90a";
}
.ci-copyright-mark:before {
  content: "\e90b";
}
.ci-datagrid:before {
  content: "\e90c";
}
.ci-date:before {
  content: "\e90d";
}
.ci-datetime:before {
  content: "\e90e";
}
.ci-delete:before {
  content: "\e90f";
}
.ci-discard:before {
  content: "\e910";
}
.ci-edit:before {
  content: "\e911";
}
.ci-exclamation:before {
  content: "\e912";
}
.ci-export:before {
  content: "\e913";
}
.ci-file:before {
  content: "\e914";
}
.ci-file-code:before {
  content: "\e915";
}
.ci-file-doc:before {
  content: "\e916";
}
.ci-file-img:before {
  content: "\e917";
}
.ci-file-pdf:before {
  content: "\e918";
}
.ci-files:before {
  content: "\e919";
}
.ci-file-xls:before {
  content: "\e91a";
}
.ci-filter:before {
  content: "\e91b";
}
.ci-folder:before {
  content: "\e91c";
}
.ci-folder-opened:before {
  content: "\e91d";
}
.ci-geom-filter:before {
  content: "\e91e";
}
.ci-help:before {
  content: "\e91f";
}
.ci-help-tooltip:before {
  content: "\e920";
}
.ci-home:before {
  content: "\e921";
}
.ci-import:before {
  content: "\e922";
}
.ci-info:before {
  content: "\e923";
}
.ci-iskn:before {
  content: "\e924";
}
.ci-islh:before {
  content: "\e925";
}
.ci-ko:before {
  content: "\e926";
}
.ci-layers:before {
  content: "\e927";
}
.ci-layer-search:before {
  content: "\e928";
}
.ci-legend:before {
  content: "\e929";
}
.ci-list:before {
  content: "\e92a";
}
.ci-locate:before {
  content: "\e92b";
}
.ci-locate-disabled:before {
  content: "\e92c";
}
.ci-locate-success:before {
  content: "\e92d";
}
.ci-login:before {
  content: "\e92e";
}
.ci-logout:before {
  content: "\e92f";
}
.ci-measure:before {
  content: "\e930";
}
.ci-menu:before {
  content: "\e931";
}
.ci-minus:before {
  content: "\e932";
}
.ci-neighbours:before {
  content: "\e933";
}
.ci-ok:before {
  content: "\e934";
}
.ci-options:before {
  content: "\e935";
}
.ci-pkn:before {
  content: "\e936";
}
.ci-plus:before {
  content: "\e937";
}
.ci-print:before {
  content: "\e938";
}
.ci-remove:before {
  content: "\e939";
}
.ci-save:before {
  content: "\e93a";
}
.ci-search:before {
  content: "\e93b";
}
.ci-spinner:before {
  content: "\e93c";
}
.ci-talk-to:before {
  content: "\e93d";
}
.ci-time:before {
  content: "\e93e";
}
.ci-user:before {
  content: "\e93f";
}
.ci-user-circle:before {
  content: "\e940";
}
.ci-visible-layers:before {
  content: "\e941";
}
.ci-vita:before {
  content: "\e942";
}
.ci-wrench:before {
  content: "\e943";
}
.ci-plus-circle:before {
  content: "\e944";
}
.ci-minus-circle:before {
  content: "\e945";
}
.ci-undo:before {
  content: "\e946";
}
.ci-view-map:before {
  content: "\e947";
}
.ci-bulk-actions:before {
  content: "\e948";
}
.ci-forward:before {
  content: "\e949";
}
.ci-language-switcher:before {
  content: "\e94a";
}
.ci-filter-discard:before {
  content: "\e94b";
}
.ci-angle-top:before {
  content: "\e94c";
}
.ci-angle-bottom:before {
  content: "\e94d";
}
.ci-text-align-left:before {
  content: "\e94e";
}
.ci-text-align-center:before {
  content: "\e94f";
}
.ci-text-align-right:before {
  content: "\e950";
}
.ci-font-size:before {
  content: "\e951";
}
.ci-bold:before {
  content: "\e952";
}
.ci-italic:before {
  content: "\e953";
}
.ci-draw:before {
  content: "\e954";
}
.ci-move-down:before {
  content: "\e955";
}
.ci-move-left:before {
  content: "\e956";
}
.ci-move-right:before {
  content: "\e957";
}
.ci-move-up:before {
  content: "\e958";
}
.ci-map:before {
  content: "\e959";
}
.ci-label:before {
  content: "\e95a";
}
.ci-resize-height:before {
  content: "\e95f";
}
.ci-resize-width:before {
  content: "\e960";
}
.ci-location-arrow:before {
  content: "\e961";
}
.ci-pin:before {
  content: "\e962";
}
.ci-zindex:before {
  content: "\e963";
}
