/* IMPORTANT NOTICE */
/* New icons have to be added to the end in icomoon app due to the need of having constant ligatures for MoA */
/* If an existing ligature is changed MoA will have a bad icon on that spot */

@font-face {
  font-family: 'Cleerio-MoA-Icons';
  src:  url('fonts/Cleerio-MoA-Icons.eot?ofc3sx');
  src:  url('fonts/Cleerio-MoA-Icons.eot?ofc3sx#iefix') format('embedded-opentype'),
    url('fonts/Cleerio-MoA-Icons.ttf?ofc3sx') format('truetype'),
    url('fonts/Cleerio-MoA-Icons.woff?ofc3sx') format('woff'),
    url('fonts/Cleerio-MoA-Icons.svg?ofc3sx#Cleerio-MoA-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.cmi {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Cleerio-MoA-Icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmi-add-feature:before {
  content: "\e900";
}
.cmi-angle-bottom:before {
  content: "\e901";
}
.cmi-angle-left:before {
  content: "\e902";
}
.cmi-angle-right:before {
  content: "\e903";
}
.cmi-angle-top:before {
  content: "\e904";
}
.cmi-cancel:before {
  content: "\e905";
}
.cmi-circle:before {
  content: "\e906";
}
.cmi-circle-dot:before {
  content: "\e907";
}
.cmi-circle-exclamation:before {
  content: "\e908";
}
.cmi-circle-help:before {
  content: "\e909";
}
.cmi-circle-info:before {
  content: "\e90a";
}
.cmi-circle-minus:before {
  content: "\e90b";
}
.cmi-circle-plus:before {
  content: "\e90c";
}
.cmi-circle-times:before {
  content: "\e90d";
}
.cmi-cog:before {
  content: "\e90e";
}
.cmi-date:before {
  content: "\e90f";
}
.cmi-datetime:before {
  content: "\e910";
}
.cmi-delete:before {
  content: "\e911";
}
.cmi-dots-horizontal:before {
  content: "\e912";
}
.cmi-dots-vertical:before {
  content: "\e913";
}
.cmi-earth:before {
  content: "\e914";
}
.cmi-edit:before {
  content: "\e915";
}
.cmi-export:before {
  content: "\e916";
}
.cmi-file:before {
  content: "\e917";
}
.cmi-file-code:before {
  content: "\e918";
}
.cmi-file-doc:before {
  content: "\e919";
}
.cmi-file-img:before {
  content: "\e91a";
}
.cmi-file-pdf:before {
  content: "\e91b";
}
.cmi-files:before {
  content: "\e91c";
}
.cmi-file-xls:before {
  content: "\e91d";
}
.cmi-folder:before {
  content: "\e91e";
}
.cmi-folder-opened:before {
  content: "\e91f";
}
.cmi-hidden:before {
  content: "\e920";
}
.cmi-home:before {
  content: "\e921";
}
.cmi-chevron-down:before {
  content: "\e922";
}
.cmi-chevron-left:before {
  content: "\e923";
}
.cmi-chevron-right:before {
  content: "\e924";
}
.cmi-chevron-up:before {
  content: "\e925";
}
.cmi-import:before {
  content: "\e926";
}
.cmi-layer-off:before {
  content: "\e927";
}
.cmi-layer-on:before {
  content: "\e928";
}
.cmi-locate:before {
  content: "\e929";
}
.cmi-locate-disabled:before {
  content: "\e92a";
}
.cmi-locate-success:before {
  content: "\e92b";
}
.cmi-marker:before {
  content: "\e92c";
}
.cmi-marker-edit:before {
  content: "\e92d";
}
.cmi-marker-locate:before {
  content: "\e92e";
}
.cmi-marker-off:before {
  content: "\e92f";
}
.cmi-relation-link:before {
  content: "\e930";
}
.cmi-search:before {
  content: "\e931";
}
.cmi-synchro-error:before {
  content: "\e932";
}
.cmi-synchro-ko:before {
  content: "\e933";
}
.cmi-synchro-ok:before {
  content: "\e934";
}
.cmi-time:before {
  content: "\e935";
}
.cmi-user:before {
  content: "\e936";
}
.cmi-view-data:before {
  content: "\e937";
}
.cmi-view-map:before {
  content: "\e938";
}
.cmi-visible:before {
  content: "\e939";
}
.cmi-wifi-off:before {
  content: "\e93a";
}
.cmi-zoom-in:before {
  content: "\e93b";
}
.cmi-zoom-out:before {
  content: "\e93c";
}
.cmi-point-remove-on-map:before {
  content: "\e93d";
}
.cmi-undo:before {
  content: "\e93e";
}
.cmi-edit-cross:before {
  content: "\e93f";
}
.cmi-add-point:before {
  content: "\e940";
}
.cmi-remove-point:before {
  content: "\e941";
}
.cmi-add-line:before {
  content: "\e942";
}
.cmi-remove-line:before {
  content: "\e943";
}
.cmi-add-polygon:before {
  content: "\e944";
}
.cmi-remove-polygon:before {
  content: "\e945";
}
.cmi-save-file:before {
  content: "\e949";
}
.cmi-layer-search:before {
  content: "\e946";
}
.cmi-star:before {
  content: "\e947";
}
.cmi-star-empty:before {
  content: "\e948";
}
